
body{
 background-color: darkgray; 
}
.div1{ 
display: block;	
width: 350px;
margin: 0 auto;
text-align: center;
}
.dim{
height: 20px;	
margin: auto;
font-size: 35px;
color: black;  
}
.dim1{
height: 10px;	
margin: auto;
font-size: 20px;
color: black;  
}
.medBtn{
width: 80px;
height: 80px;	
font-size: 20px;
}
.bigBtn{
width: 248px;
height: 80px;	
font-size: 20px;
}
