body{
height: 100%;
background-color: black;
text-align: center;
color: white;
}
footer{
color: red;
bottom:0;
position: fixed;
width: 100%;
}
a{
color: orange;
}
h1{
color: orange;
}
h2{
color: orange;
}
